[Unit]
Description=Nginx HTTP Proxy Server

[Service]
ExecStartPre=/usr/bin/docker pull nginx
ExecStartPre=/usr/bin/docker ps -a | /usr/bin/grep fleet.nginx | /usr/bin/awk '{print $1}' | /usr/bin/xargs --no-run-if-empty /usr/bin/docker rm -f

ExecStart=/usr/bin/docker run --rm --name fleet.nginx --volumes-from fleet.web -p 80:80 -p 443:443 -v /home/core/config/.htpasswd:/etc/nginx/.htpasswd:ro -v /home/core/sites:/etc/nginx/sites-enabled:ro -v /home/core/certs:/etc/nginx/certs:ro -v /home/core/config/nginx.conf:/etc/nginx/nginx.conf:ro nginx /usr/sbin/nginx

ExecStop=/usr/bin/docker rm -f fleet.nginx

Restart=on-failure
RestartSec=5

[X-Fleet]
Conflicts=fleet.nginx
