[Unit]
Description=Redmon Cloudsdale Faye Push Service

[Service]
EnvironmentFile=/home/core/vars/push
EnvironmentFile=/home/core/vars/docker

ExecStartPre=/usr/bin/docker login -e $DOCKER_EMAIL -p $DOCKER_PASSWORD -u $DOCKER_USERNAME
ExecStartPre=/usr/bin/docker pull zeeraw/cloudsdale-push:latest
ExecStartPre=/usr/bin/docker ps -a | /usr/bin/grep fleet.push | /usr/bin/awk '{print $1}' | /usr/bin/xargs --no-run-if-empty /usr/bin/docker rm -f

ExecStart=/usr/bin/docker run --rm --name fleet.push --env-file /home/core/vars/push --link fleet.redis:redis --link fleet.mongodb:mongo --link fleet.rabbit:rabbit -p 172.17.42.1:8282:8282 zeeraw/cloudsdale-push:latest

ExecStop=/usr/bin/docker rm -f fleet.push

Restart=on-failure
RestartSec=5

[X-Fleet]
Conflicts=push.service
