[Unit]
Description=Redis Server

[Service]
ExecStartPre=/usr/bin/docker pull redis:latest
ExecStartPre=/usr/bin/docker ps -a | /usr/bin/grep fleet.redis | /usr/bin/awk '{print $1}' | /usr/bin/xargs --no-run-if-empty /usr/bin/docker rm -f

ExecStart=/usr/bin/docker run --rm --name fleet.redis -p 172.17.42.1:6379:6379 -v /store/redis:/data redis:latest redis-server --appendonly yes

ExecStop=/usr/bin/docker rm -f fleet.redis

Restart=on-failure
RestartSec=5

[X-Fleet]
Conflicts=fleet.redis
